{{ 'section-main-location.css' | asset_url | stylesheet_tag }}

<div class="main-location main-location--{{ section.settings.content_layout }} page-width isolate{% if settings.text_boxes_border_thickness > 0 and settings.text_boxes_border_opacity > 0 and settings.media_border_thickness > 0 and settings.media_border_opacity > 0 %} collapse-borders{% endif %}{% unless section.settings.color_scheme == 'background-1' and settings.media_border_thickness > 0 and settings.text_boxes_shadow_opacity == 0 and settings.text_boxes_border_thickness == 0 or settings.text_boxes_border_opacity == 0 %} collapse-corners{% endunless %} section-{{ section.id }}-padding">
<div class="main-location__grid grid grid--gapless grid--1-col grid--{% if section.settings.desktop_image_width == 'medium' %}2-col-tablet{% else %}3-col-tablet{% endif %}{% if section.settings.layout == 'text_first' %} main-location__grid--reverse{% endif %}">
  <div class="main-location__media-item main-location__media-item--{{ section.settings.desktop_image_width }} main-location__media-item--{{ section.settings.desktop_content_position }} grid__item">
    <div
      class="main-location__media main-location__media--{{ section.settings.height }} gradient color-{{ section.settings.color_scheme }} global-media-settings {% if section.settings.location_image != blank %}media{% else %}main-location__media--placeholder placeholder{% endif %}"
      {% if section.settings.height == 'adapt' and section.settings.location_image != blank %}
        style="padding-bottom: {{ 1 | divided_by: section.settings.location_image.aspect_ratio | times: 100 }}%;"
      {% endif %}
    >
      {%- if section.settings.location_image != blank -%}
        {%- capture sizes -%}
          (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
          (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
        {%- endcapture -%}
        {{
          section.settings.location_image
          | image_url: width: 1500
          | image_tag: loading: 'lazy', sizes: sizes, widths: '165, 360, 535, 750, 1070, 1500'
        }}
      {%- else -%}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}
    </div>
  </div>
  <div class="main-location__text-item grid__item">
    <div>
    {%- for block in section.blocks -%}
      {% case block.type %}
        {%- when 'heading' -%}
          <h1 class="location__heading {{ block.shopify_attributes }}" style="text-align:left; margin-top: 0px">
            {{ block.settings.heading | escape }}
          </h1>
        {%- when 'textarea' -%}
          <p class="location__textarea {{ block.shopify_attributes }}">
            {{ block.settings.text_1 }}
          </p>
        {%- when 'text' -%}
          <p >
            {{ block.settings.text_2 }}
          </p>
        {%- when 'select' -%}
          <p >
            Mon - Fri: {{ block.settings.week_open_hour }}:{{ block.settings.week_open_minutes }} - {{ block.settings.week_close_hour }}:{{ block.settings.week_close_minutes }}
            <br>
            Sat: {{ block.settings.sat_open_hour }}:{{ block.settings.sat_open_minutes }} - {{ block.settings.sat_close_hour }}:{{ block.settings.sat_close_minutes }}
            <br>
            Sun: {{ block.settings.sun_open_hour }}:{{ block.settings.sun_open_minutes }} - {{ block.settings.sun_close_hour }}:{{ block.settings.sun_close_minutes }}
          </p>
        {%- when 'buttons' -%}
          <div
            class="main-location__buttons{% if block.settings.directions_button != blank and block.settings.contact_button != blank %} {% endif %}"
            {{ block.shopify_attributes }}
          >
            {%- if block.settings.directions_button != blank -%}
              <a
                {% if block.settings.directions_button_link == blank %}
                  role="link"
                {% else %}
                  href="{{ block.settings.directions_button_link }}"
                {% endif %}
                class="button button--primary"
              >
                {{- block.settings.directions_button | escape -}}
              </a>
            {%- endif -%}
            {%- if block.settings.contact_button != blank -%}
              <a
                {% if block.settings.contact_button_link == blank %}
                  role="link"
                {% else %}
                  href="{{ block.settings.contact_button_link }}"
                {% endif %}
                class="button button--secondary"
              >
                {{- block.settings.contact_button | escape -}}
              </a>
            {%- endif -%}
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
  </div>
</div>
</div>

{% schema %}
  {
    "name": "Location page",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "id": "location_image",
        "type": "image_picker",
        "label": "t:sections.main-location.settings.location_image.label"
        // Add info here
      },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-with-text.settings.height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-with-text.settings.height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-with-text.settings.height.label"
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "options": [
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-with-text.settings.desktop_image_width.label",
      "info": "t:sections.image-with-text.settings.desktop_image_width.info"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "t:sections.image-with-text.settings.layout.options__1.label"
        },
        {
          "value": "text_first",
          "label": "t:sections.image-with-text.settings.layout.options__2.label"
        }
      ],
      "default": "image_first",
      "label": "t:sections.image-with-text.settings.layout.label",
      "info": "t:sections.image-with-text.settings.layout.info"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "middle",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "top",
      "label": "t:sections.image-with-text.settings.desktop_content_position.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-with-text.settings.desktop_content_alignment.label"
    },
    {
      "type": "header",
      "content": "Mobile layout"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-with-text.settings.mobile_content_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "t:sections.main-location.blocks.heading.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "Location",
            "label": "t:sections.main-location.blocks.heading.settings.heading.label"
          }
        ]
      },
      {
        "type": "textarea",
        "name": "t:sections.main-location.blocks.text_1.name",
        "limit": 1,
        "settings": [
          {
            "type": "textarea",
            "id": "text_1",
            "default": "Shop description here",
            "label": "t:sections.main-location.blocks.text_1.settings.textarea.label"
          }
        ]
      },
      {
        "type": "text",
        "name": "t:sections.main-location.blocks.text_2.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "text_2",
            "default": "Here we serve 14 gelato flavours, including sorbets. We also have speciality hot chocolate, coffee, pastries and other sweet artisan products.",
            "label": "t:sections.main-location.blocks.text_2.settings.text.label"
          }
        ]
      },
      {
        "type": "select",
        "name":"t:sections.main-location.blocks.opening_times.name",
        "limit": 1,
        "settings": [
          {
            "type": "select",
            "id": "week_open_hour",
            "label": "t:sections.main-location.blocks.opening_times.settings.week_open_hour.label",
            "options": [
              {
                "value": "7",
                "label": "7"
              },
              {
                "value": "8",
                "label": "8"
              },
              {
                "value": "9",
                "label": "9"
              },
              {
                "value": "10",
                "label": "10"
              },
              {
                "value": "11",
                "label": "11"
              },
              {
                "value": "12",
                "label": "12"
              }
            ],
            "default": "9"
          },
          {
            "type": "select",
            "id": "week_open_minutes",
            "label": "t:sections.main-location.blocks.opening_times.settings.week_open_minutes.label",
            "options": [
              {
                "value": "00",
                "label": "00"
              },
              {
                "value": "30",
                "label": "30"
              }
            ],
            "default": "00"
          },
          {
            "type": "select",
            "id": "week_close_hour",
            "label": "t:sections.main-location.blocks.opening_times.settings.week_close_hour.label",
            "options": [
              {
                "value": "16",
                "label": "16"
              },
              {
                "value": "17",
                "label": "17"
              },
              {
                "value": "18",
                "label": "18"
              },
              {
                "value": "19",
                "label": "19"
              },
              {
                "value": "20",
                "label": "20"
              },
              {
                "value": "21",
                "label": "21"
              }
            ],
            "default": "17"
          },
          {
            "type": "select",
            "id": "week_close_minutes",
            "label": "t:sections.main-location.blocks.opening_times.settings.week_close_minutes.label",
            "options": [
              {
                "value": "00",
                "label": "00"
              },
              {
                "value": "30",
                "label": "30"
              }
            ],
            "default": "00"
          },
          {
          "type": "select",
            "id": "sat_open_hour",
            "label": "t:sections.main-location.blocks.opening_times.settings.sat_open_hour.label",
            "options": [
              {
                "value": "7",
                "label": "7"
              },
              {
                "value": "8",
                "label": "8"
              },
              {
                "value": "9",
                "label": "9"
              },
              {
                "value": "10",
                "label": "10"
              },
              {
                "value": "11",
                "label": "11"
              },
              {
                "value": "12",
                "label": "12"
              }
            ],
            "default": "9"
          },
          {
            "type": "select",
            "id": "sat_open_minutes",
            "label": "t:sections.main-location.blocks.opening_times.settings.sat_open_minutes.label",
            "options": [
              {
                "value": "00",
                "label": "00"
              },
              {
                "value": "30",
                "label": "30"
              }
            ],
            "default": "00"
          },
          {
            "type": "select",
            "id": "sat_close_hour",
            "label": "t:sections.main-location.blocks.opening_times.settings.sat_close_hour.label",
            "options": [
              {
                "value": "16",
                "label": "16"
              },
              {
                "value": "17",
                "label": "17"
              },
              {
                "value": "18",
                "label": "18"
              },
              {
                "value": "19",
                "label": "19"
              },
              {
                "value": "20",
                "label": "20"
              },
              {
                "value": "21",
                "label": "21"
              }
            ],
            "default": "17"
          },
          {
            "type": "select",
            "id": "sat_close_minutes",
            "label": "t:sections.main-location.blocks.opening_times.settings.sat_close_minutes.label",
            "options": [
              {
                "value": "00",
                "label": "00"
              },
              {
                "value": "30",
                "label": "30"
              }
            ],
            "default": "00"
          },
          {
          "type": "select",
            "id": "sun_open_hour",
            "label": "t:sections.main-location.blocks.opening_times.settings.sun_open_hour.label",
            "options": [
              {
                "value": "7",
                "label": "7"
              },
              {
                "value": "8",
                "label": "8"
              },
              {
                "value": "9",
                "label": "9"
              },
              {
                "value": "10",
                "label": "10"
              },
              {
                "value": "11",
                "label": "11"
              },
              {
                "value": "12",
                "label": "12"
              }
            ],
            "default": "9"
          },
          {
            "type": "select",
            "id": "sun_open_minutes",
            "label": "t:sections.main-location.blocks.opening_times.settings.sun_open_minutes.label",
            "options": [
              {
                "value": "00",
                "label": "00"
              },
              {
                "value": "30",
                "label": "30"
              }
            ],
            "default": "00"
          },
          {
            "type": "select",
            "id": "sun_close_hour",
            "label": "t:sections.main-location.blocks.opening_times.settings.sun_close_hour.label",
            "options": [
              {
                "value": "16",
                "label": "16"
              },
              {
                "value": "17",
                "label": "17"
              },
              {
                "value": "18",
                "label": "18"
              },
              {
                "value": "19",
                "label": "19"
              },
              {
                "value": "20",
                "label": "20"
              },
              {
                "value": "21",
                "label": "21"
              }
            ],
            "default": "17"
          },
          {
            "type": "select",
            "id": "sun_close_minutes",
            "label": "t:sections.main-location.blocks.opening_times.settings.sun_close_minutes.label",
            "options": [
              {
                "value": "00",
                "label": "00"
              },
              {
                "value": "30",
                "label": "30"
              }
            ],
            "default": "00"
          }
        ]
      },
      {
        "type": "buttons",
        "name": "t:sections.main-location.blocks.buttons.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "directions_button",
            "default": "Directions",
            "label": "t:sections.main-location.blocks.buttons.settings.directions_button.label"
          },
          {
            "type": "url",
            "id": "directions_button_link",
            "label": "t:sections.main-location.blocks.buttons.settings.directions_button_link.label"
          },
          {
            "type": "text",
            "id": "contact_button",
            "default": "Contact",
            "label": "t:sections.main-location.blocks.buttons.settings.contact_button.label"
          },
          {
            "type": "url",
            "id": "contact_button_link",
            "label": "t:sections.main-location.blocks.buttons.settings.contact_button_link.label"
          }
        ]
      }
    ],

    "presets": [
      {
        "name": "t:sections.main-location.presets.name",
        "blocks": [
          {
            "type": "heading"
          }, {
            "type": "textarea"
          }, {
            "type": "text"
          }, {
            "type": "select"
          },{
            "type": "buttons"
          }
        ]
      }
  ]
  }
{% endschema %}
